nav ul {
    /* display: inline-block; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: black;
	
	
    
  }
  
  .nav-bar{
    display: flex;
    align-items: left;
    padding-left:  20px ;
    padding-right: 0px;
    padding-top: 50px;
    width: 100%;
	position: fixed;
   


  }

  nav{
    flex: 1;
    text-align: left;

  }
  li {
    /* float:left; */
    display: inline-block;
    font-size: 20px;
    margin-right: 70px;
    
  }
  
  li a {
    display: block;
    color: white;
	opacity:0.7;s
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   li a:hover {
	   background-color: gray;
    
  }
  
  